* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
  display: none;
}

.slider-wrap {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4000px;
  display: flex;
  will-change: transform;
  background-color: #BFA78A;
}

.slider-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: rgba(241, 179, 242, 50%);
  border-radius: 80px;
  border-color: #BFA78A;
  top: 2.5%;
  height: 95%;
  /* filter: grayscale(100%); */
}

.img-div {
  position: relative;
  top: 2.5%;
  left: 1%;
  width: 98%;
  height: 95%;
  /* background-color: rgba(241, 179, 242, 50%); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}