* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
  display: none;
}

.slider-wrap {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60%;
  height: 200px;
  overflow: hidden;
  border: 1px solid black;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 1000px; */
  display: flex;
  will-change: transform;
  background-color: #BFA78A;
}

.slider-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: rgba(241, 179, 242, 50%);
  border-radius: 25px;
  border-color: #BFA78A;
  border-width: 10px;
  border-style: solid;
  top: 2.5%;
  height: 95%;
  width: 200px;
}

.img-div {
  position: relative;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}